body::-webkit-scrollbar {
    height: 3px;
    background: #fff;
    width: 10px
}

body::-o-scrollbar {
    height: 3px;
    background: #2699fb;
    width: 10px
}

body::-ms-scrollbar {
    height: 3px;
    background: #2699fb;
    width: 10px
}

body::-webkit-scrollbar-thumb {
    background: #2699fb;
    border-radius: 4px
}

body::-o-scrollbar-thumb {
    background: #2699fb;
    border-radius: 4px
}

body::-ms-scrollbar-thumb {
    background: #2699fb;
    border-radius: 4px
}

.mainHeader {
    background: #34afff;
    width: 84%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 60px;
    margin: 10px auto;
    margin-bottom: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0
}

.mainHeader figure {
    background-color: #fff;
    height: 55px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 100%;
    margin-left: 5%
}

.mainHeader figure a img {
    width: 30px;
}
.mainHeader nav {
    width: 92%;
    margin-right: 5%
}

.mainHeader nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}
.mainHeader nav ul li {padding: 0 20px;}

.mainHeader nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: BPGArial
}

.mainHeader nav ul li a:hover {
    opacity: .7
}
.mainHeader .menuIcon {
    display: none;
}

.mainHeader .logo2,
.mainHeader nav figure {
    display: none;
}


.firstSec {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.firstSec article {
    width: 40%
}

.firstSec article h2 {
    color: #34afff;
    font-size: 40px;
    font-family: ALKSanet
}
.firstSec article .goDown {
    display: none;
}
.firstSec article p {
    color: #34afff;
    font-style: italic;
    margin-top: 50px;
    font-size: 22px;
    line-height: 29px;
    border-bottom: solid 1px #bce0fd;
    padding-bottom: 30px;
    font-family: Neue;
    opacity: .54
}
.firstSec article .firstPart {
        color: #4a4649;
    font-size: 16px;
    line-height: 25px;
    word-wrap: break-word;
    font-family: BPGArial;
    margin-top: 30px;
}
.firstSec .paragraph {
    width: 40%;
    color: #4a4649;
    font-size: 16px;
    line-height: 25px;
    word-wrap: break-word;
    font-family: BPGArial;
        opacity: 0.6;
}

.bx-wrapper {
    width: 76%;
    margin: 0 auto;
    margin-top: 30px
}

.secMain .secSec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.secMain .secSec .firstFig {
    max-height: 252px;
    width: 74%;
            max-width: 74%;
}

.secMain .secSec .firstFig img {
    height: 100%;
        width: 100%;
}

.secMain .secSec .secFig {
    width: 28%;
    max-width: 28%;
    max-height: 252px;
}

.secMain .secSec .secFig img {
    height: 100%;
    width: 100%;
}

.thrSec {
    width: 72%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 45px
}

.bx-prev {
    display: none
}

.thrSec figure {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.thrSec figure .partners {
    height: 40px;
    width: 60px;
    margin-right: 20px;
}

.thrSec figure .partners img{
    height: 100%;
}

.thrSec div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 70px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.thrSec div p {
    color: #4a4649;
    font-size: 14px;
    font-family: BPGArial;
    opacity: .54
}

.thrSec div a {
    background: #2699fb;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-family: BPGArial
}

.thrSec {
    width: 75%;
    padding-left: 0.5%;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 33px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 45px
}

.thrSec figure {
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.thrSec div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 70px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.thrSec div p {
    color: #4a4649;
    font-size: 14px
}

.thrSec div a {
    background: #2699fb;
    padding: 10px 33px;
    border-radius: 20px;
    color: #fff
}

.frame {
    text-align: center;
    width: 74%;
    height: 510px;
    margin-left: 13%
}

.active {
    opacity: .7
}
 .firstSec article .firstPart {
        border: none;
    }


@media screen and (max-width:992px) and (min-width:768px) {
    .mainHeader {
        width: 92%
    }



    .firstSec {
        margin-top: 80px;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .firstSec article {
        width: 78%
    }

    .firstSec article p {
        margin-top: 30px
    }
    
    .firstSec article .firstPart {
        position: relative;
    }
    
    .firstSec article .firstPart {
        border: none;
    }
    .firstSec article .goDown {
        display: block;
        border: none;
        outline: none;
        background: transparent;
        right: 0;
        position: absolute;
        bottom: -5%;
    }
    .open .goDown2 {
        border: none;
        outline: none;
        background: transparent;
float: right;
        margin-top: 5%;
    }
    .firstSec .paragraph {
        width: 78%;
        margin-top: 50px;
            height: 0;
        overflow: hidden;
    }
    
    .firstSec .paragraph.open {
        height: auto;
        
    }

    .secMain .secSec .firstFig,
    .secMain .secSec .secFig {
        max-height: 161px
    }

    .bx-wrapper .bx-viewport {
        max-height: 161px
    }

    .bx-wrapper .bx-controls-direction a {
        width: 16px;
        height: 12px;
        background-size: cover;
        bottom: 17%
    }

    .frame {
        text-align: center;
        width: 74%;
        height: 340px;
        margin-left: 13%
    }

    .thrSec {
        margin-top: 70px
    }

    .thrSec figure {
        width: 10%
    }

    .thrSec div a {
        margin-top: 25px
    }
}

@media screen and (max-width:767px) and (min-width:319px) {
    .mainHeader {justify-content: center; position: relative;}
    .mainHeader figure {margin-left: 0;}
    .mainHeader .burger {
        width: 100%;
        /* margin-right: 5%; */
        height: 100%;
        position: fixed;
        z-index: 99992;
        bottom: 0;
        top: -100%;
        left: 0;
        right: 0;
        background: #34AFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .4s;

    }
    .mainHeader .open {
        top: 0;
    }
    .mainHeader .burger figure .logo2 {
        background-color: #fff;
        height: 35px;
        border-radius: 100%;
    }
    .mainHeader .burger figure {
        width: 55px;
        margin-top: 50px;
        margin-left: 0;
    }
    
    .mainHeader .logo2,
    .mainHeader .burger figure {
        display: block;
    }

    .mainHeader .logo2 {
        height: 25px;
        width: 30px;
    }

    
    .mainHeader .menuIcon {display: block;position: absolute;left: 0;margin-left: 20px;}
     .mainHeader .burger figure .close {position: absolute;top: 20px;right: 30px;}

    .mainHeader .burger ul {
        margin-top: 15%;
        flex-direction: column;
        height: 35%;
        align-items: center;
        justify-content: space-around;
    }
    
    .firstSec {
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        align-items: center
    }


    .firstSec article {
        width: 78%
    }

    .firstSec article h2 {
        font-size: 22px
    }

    .firstSec article p {
        margin-top: 20px;
        font-size: 14px;
        opacity: 1;
        padding-bottom: 10px
    }

    .firstSec .paragraph {
        margin-top: 20px;
        opacity: .54;
        font-size: 12px;
        width: 70%
    }
.firstSec article .firstPart {
        border: none;
    position: relative;
    opacity: 0.6;
    font-size: 12px;
    }
    .firstSec article .goDown {
        display: block;
        border: none;
        outline: none;
        background: transparent;
        right: 0;
        position: absolute;
        bottom: -5%;
    }
    .open .goDown2 {
        border: none;
        outline: none;
        background: transparent;
float: right;
        margin-top: 5%;
    }
    .firstSec .paragraph {
        width: 78%;
        margin-top: 50px;
            height: 0;
        overflow: hidden;
    }
    
    .firstSec .paragraph.open {
        height: auto;
        
    }
    .bx-wrapper .bx-viewport,
    .bx-wrapper .bx-wrapper {
        max-height: 525px
    }
    
    .bx-wrapper .bx-viewport {max-height: 250px;}
    .secMain .secSec .firstFig {width: 100%;max-width: 100%;}
    .secMain .secSec .secFig {width: 40%;max-width: 40%}
    .bx-wrapper .bx-controls-direction a {
        bottom: 5%;
        width: 10px;
        height: 7px;
        right: 40%
    }

    .secMain .secSec .secFig {
        margin-top: 20px
    }

    .secMain .secSec .firstFig img,
    .secMain .secSec .secFig img {
        max-height: 120px;
        margin: 0 auto
    }

    .secMain .secSec {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        align-items: center;
    }

    .thrSec {
        margin-top: 24px;
        position: relative;
        justify-content: flex-end;
    }

    .thrSec figure {
        position: absolute;
        width: 30%;
        left: 0;
        
    }
    
    .thrSec figure .partners {
        width: 40px;
        height: 25px;
        margin-right: 5px;
    }


    .thrSec div a {
        width: 116px;
        height: 25px;
        font-size: 12px;
        text-align: center;
        padding: 0;
        padding: 5px 0;
        margin-top: 17px;
        line-height: 15px;
        margin-right: -5%;
    }

    .thrSec div p {
        font-size: 12px;
        text-align: center
    }

    .mainHeader nav {
        width: 70%
    }

    .frame {
        height: 223px
    }
}



